#topBar{
  top: 0vw;
  left: 0vw;
  background-color: black;
  width:100vw;
  height:10vw;
  display: flex;
  justify-content: flex-end;
}

#title{
  color: white;
  width: fit-content;
  text-align: center;
  height: 4vw;
  width: 20vw;
  font-size: 2.8vw;
  line-height: 4vw;
  border-style: groove;
  border-color: white;
  font-style: oblique;
  margin-right: 20vw;
}

#topBarLogo{
  height: 10vw;
  width: 15vw;
  margin-right: 5vw;
}

#homeButton{
  float: right;
  margin-top: 3vw;
  margin-right: 3vw;
  border: solid;
  width: 5vw;
  height: 3vw;
  font-size: 1.5vw;
  line-height: 3vw;
  text-align: center;
  color: #095080;
  cursor: pointer;
  text-decoration: none;
  background-color: #b3ebff;
  border-color: #007399;
  font-style: oblique;
}

#askWhichDate{

  margin-top: 5vw;
  margin-left: 2vw;
  font-size: 2vw;
  font-family: sans-serif;
  width: 25vw;
}

#sevenDays{
  display: flex;
  width: 56vw;
  margin-top: 6vw;
  margin-left: 14vw;
  justify-content: space-between;
}

.days{
  line-height:7vw;
  margin-left: 1vw;
  width: 8vw;
  text-align: center;
  font-size: 2vw;
  font-style: oblique;
  border: solid 2px #007399;
  background-color: #00bfff;
}
